﻿@page "/addToDb"

@attribute [Authorize(Roles = "ADMIN")]
@inject NavigationManager uriHelper

<h3>Add to Database</h3>

<p>Click on the data entity you wish to add to the database.</p>

<div class="redirectContainer">
    <div class="redirectTable">

        <button type="button" class="redirectButton" @onclick="AccountRedirect">Add New Account</button>
        <br />
        <button type="button" class="redirectButton" @onclick="ActiveUserRedirect">Add New Active User Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="BikeShopRedirect">Add New Bike Shop</button>
        <br />
        <button type="button" class="redirectButton" @onclick="DowntimeReportRedirect">Add New Downtime Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="ItemRedirect">Add New Item</button>
        <br />
        <button type="button" class="redirectButton" @onclick="LogRedirect">Add New Log</button>
        <br />
        <button type="button" class="redirectButton" @onclick="TrafficRedirect">Add New Traffic Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="TransactionRedirect">Add New Transaction Report</button>
        <br />
    </div>
</div>


@code {
    void AccountRedirect() { uriHelper.NavigateTo("addToDb/newAccount"); }

    void ActiveUserRedirect() { uriHelper.NavigateTo("addToDb/newActiveUser"); }

    void BikeShopRedirect() { uriHelper.NavigateTo("addToDb/newBikeShop"); }

    void DowntimeReportRedirect() { uriHelper.NavigateTo("addToDb/newDowntimeReport"); }

    void ItemRedirect() { uriHelper.NavigateTo("addToDb/newItem"); }

    void LogRedirect() { uriHelper.NavigateTo("addToDb/newLog"); }

    void TrafficRedirect() { uriHelper.NavigateTo("addToDb/newTraffic"); }

    void TransactionRedirect() { uriHelper.NavigateTo("addToDb/newTransaction"); }
}
