﻿@page "/deleteFromDb"

@attribute [Authorize(Roles = "ADMIN")]
@inject NavigationManager uriHelper

<h3>Delete From Database</h3>

<p>Click on the data entity you wish to delete from the database.</p>

<div class="redirectContainer">
    <div class="redirectTable">

        <button type="button" class="redirectButton" @onclick="AccountRedirect">Delete Account</button>
        <br />
        <button type="button" class="redirectButton" @onclick="ActiveUserRedirect">Delete Active User Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="BikeShopRedirect">Delete Bike Shop</button>
        <br />
        <button type="button" class="redirectButton" @onclick="DowntimeReportRedirect">Delete Downtime Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="ItemRedirect">Delete Item</button>
        <br />
        <button type="button" class="redirectButton" @onclick="LogRedirect">Delete Log</button>
        <br />
        <button type="button" class="redirectButton" @onclick="TrafficRedirect">Delete Traffic Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="TransactionRedirect">Delete Transaction Report</button>
        <br />
    </div>
</div>


@code {
    void AccountRedirect() { uriHelper.NavigateTo("deleteFromDb/account"); }

    void ActiveUserRedirect() { uriHelper.NavigateTo("deleteFromDb/activeUser"); }

    void BikeShopRedirect() { uriHelper.NavigateTo("deleteFromDb/bikeShop"); }

    void DowntimeReportRedirect() { uriHelper.NavigateTo("deleteFromDb/downtimeReport"); }

    void ItemRedirect() { uriHelper.NavigateTo("deleteFromDb/item"); }

    void LogRedirect() { uriHelper.NavigateTo("deleteFromDb/log"); }

    void TrafficRedirect() { uriHelper.NavigateTo("deleteFromDb/traffic"); }

    void TransactionRedirect() { uriHelper.NavigateTo("deleteFromDb/transaction"); }
}
