﻿@page "/"

<div class="home">
    <p class="home">
        <h1>Monitor Your Bike Shop Websites!</h1>
        <br />
        View items in your Bike Shop website's database as a regular user
        <br />
        <br />
        <em><b>OR</b></em>
        <br />
        <br />
        Add items to your Bike Shop website's database as a regular user
    </p>
</div>
