﻿@page "/updateDb"

@attribute [Authorize(Roles = "ADMIN")]
@inject NavigationManager uriHelper

<h3>Update Database</h3>

<p>Click on the data entity you wish to update in the database.</p>

<div class="redirectContainer">
    <div class="redirectTable">

        <button type="button" class="redirectButton" @onclick="AccountRedirect">Update Account</button>
        <br />
        <button type="button" class="redirectButton" @onclick="ActiveUserRedirect">Update Active User Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="BikeShopRedirect">Update Bike Shop</button>
        <br />
        <button type="button" class="redirectButton" @onclick="DowntimeReportRedirect">Update Downtime Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="ItemRedirect">Update Item</button>
        <br />
        <button type="button" class="redirectButton" @onclick="LogRedirect">Update Log</button>
        <br />
        <button type="button" class="redirectButton" @onclick="TrafficRedirect">Update Traffic Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="TransactionRedirect">Update Transaction Report</button>
        <br />
    </div>
</div>


@code {
    void AccountRedirect() { uriHelper.NavigateTo("updateDb/account"); }

    void ActiveUserRedirect() { uriHelper.NavigateTo("updateDb/activeUser"); }

    void BikeShopRedirect() { uriHelper.NavigateTo("updateDb/bikeShop"); }

    void DowntimeReportRedirect() { uriHelper.NavigateTo("updateDb/downtimeReport"); }

    void ItemRedirect() { uriHelper.NavigateTo("updateDb/item"); }

    void LogRedirect() { uriHelper.NavigateTo("updateDb/log"); }

    void TrafficRedirect() { uriHelper.NavigateTo("updateDb/traffic"); }

    void TransactionRedirect() { uriHelper.NavigateTo("updateDb/transaction"); }
}

