﻿@page "/viewDb"

@attribute [Authorize(Roles = "ADMIN, NORMAL")]
@inject NavigationManager uriHelper

<h3>View Database</h3>

<p>Click on the data entity you wish to view in the database.</p>

<div class="redirectContainer">
    <div class="redirectTable">

        <button type="button" class="redirectButton" @onclick="AccountRedirect">View Account</button>
        <br />
        <button type="button" class="redirectButton" @onclick="ActiveUserRedirect">View Active User Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="BikeShopRedirect">View Bike Shop</button>
        <br />
        <button type="button" class="redirectButton" @onclick="DowntimeReportRedirect">View Downtime Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="ItemRedirect">View Item</button>
        <br />
        <button type="button" class="redirectButton" @onclick="LogRedirect">View Log</button>
        <br />
        <button type="button" class="redirectButton" @onclick="TrafficRedirect">View Traffic Report</button>
        <br />
        <button type="button" class="redirectButton" @onclick="TransactionRedirect">View Transaction Report</button>
        <br />
    </div>
</div>


@code {
    void AccountRedirect() { uriHelper.NavigateTo("viewDb/Account"); }

    void ActiveUserRedirect() { uriHelper.NavigateTo("viewDb/ActiveUser"); }

    void BikeShopRedirect() { uriHelper.NavigateTo("viewDb/BikeShop"); }

    void DowntimeReportRedirect() { uriHelper.NavigateTo("viewDb/DowntimeReport"); }

    void ItemRedirect() { uriHelper.NavigateTo("viewDb/Item"); }

    void LogRedirect() { uriHelper.NavigateTo("viewDb/Log"); }

    void TrafficRedirect() { uriHelper.NavigateTo("viewDb/Traffic"); }

    void TransactionRedirect() { uriHelper.NavigateTo("viewDb/Transaction"); }
}


