﻿@page "/deleteFromDb/transaction"
@attribute [Authorize(Roles = "ADMIN")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@inject IJSRuntime jsRuntime

<h3>Delete Transaction Reports</h3>
<p>Choose a transaction report to delete.</p>

<EditForm Model="@index" OnSubmit="@Delete">
    <div class="form-group">
        <label for="index">transaction_id: </label>
        <InputNumber id="index" @bind-Value="index" class="form-control">1</InputNumber>
    </div>
    <input type="button" class="btn btn-primary" value="Delete" @onclick="Delete" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>
<br />
<div>
    <p><em>@loading</em></p>
</div>

@code {
    int index = 1;
    string uri;
    string loading = "";

    async Task Delete()
    {
        loading = "Loading...";

        bool bDelete = await jsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete transaction report #{index}?");
        if (bDelete)
        {

            if (index > 0)
            {
                uri = "https://theheartofthecardz.azurewebsites.net/api/Transactions/" + index;
                var response = await api.DeleteUriAsync(new Uri(uri));

                if (response.IsSuccessStatusCode)
                {
                    loading = $"Transaction Report with transaction_id: {index} was deleted.";
                }
            }
            else
            {
                loading = "Database IDs start at '1'.";
            }
        }
        else
        {
            loading = "Delete canceled.";
            return;
        }
    }

    void onCancelButton()
    {
        uriHelper.NavigateTo("deleteFromDb");
    }
}
