﻿@page "/viewDb/ActiveUser"
@attribute [Authorize(Roles = "ADMIN, NORMAL")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models

<h3>View Active Users</h3>
<p>Choose an activeUser to view or view all activeUsers.</p>

<EditForm Model="@index" OnSubmit="@ViewOne">
    <div class="form-group">
        <label for="index">activeUser_id: </label>
        <InputNumber id="index" @bind-Value="index" class="form-control">1</InputNumber>
    </div>
    <input type="submit" class="btn btn-primary" value="View ActiveUser" />
    <input type="button" class="btn btn-primary" value="View All" @onclick="ViewAll" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>
<br />
<div>
    @if (actives == null)
    {
        <p><em>@loading</em></p>
    }
    else
    {
        <table class="table">
            <tbody>
                <tr>
                    <th>activeUser_id</th>
                    <th>responseTime</th>
                    <th>country</th>
                    <th>stateOrProvince</th>
                    <th>traffic_Id</th>
                </tr>
            </tbody>
            <tbody>
                @foreach (var active in actives)
                {
                    <tr>
                        <td>@active.activeUser_id</td>
                        <td>@active.responseTime</td>
                        <td>@active.country</td>
                        <td>@active.stateOrProvince</td>
                        <td>@active.traffic_id</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    List<ActiveUser> actives;

    int index = 1;
    string uri;
    string loading = "";

    async Task ViewOne()
    {
        loading = "Loading...";

        if (index > 0)
        {
            uri = "https://theheartofthecardz.azurewebsites.net/api/Accounts/" + index;
            var response = await api.GetUriAsync(new Uri(uri));

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadAsStringAsync();
                Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.ToString());
                ActiveUser active = json.ToObject<ActiveUser>();
                actives = new List<ActiveUser> { active };
            }
        }
        else
        {
            loading = "Database IDs start at '1'.";
        }
    }

    async Task ViewAll()
    {
        loading = "Loading...";

        var response = await api.GetUriAsync(new Uri("https://theheartofthecardz.azurewebsites.net/api/Accounts"));

        if (response.IsSuccessStatusCode)
        {
            var result = response.Content.ReadAsStringAsync();
            Newtonsoft.Json.Linq.JArray json = Newtonsoft.Json.Linq.JArray.Parse(result.Result.ToString());
            actives = json.ToObject<List<ActiveUser>>();
        }
    }

    void onCancelButton()
    {
        uriHelper.NavigateTo("viewDb");
    }
}

