﻿@page "/viewDb/Log"
@attribute [Authorize(Roles = "ADMIN, NORMAL")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models

<h3>View Logs</h3>
<p>Choose a log to view or view all logs.</p>

<EditForm Model="@index" OnSubmit="@ViewOne">
    <div class="form-group">
        <label for="index">Log Id: </label>
        <InputNumber id="index" @bind-Value="index" class="form-control">1</InputNumber>
    </div>
    <input type="submit" class="btn btn-primary" value="View Log" />
    <input type="button" class="btn btn-primary" value="View All" @onclick="ViewAll" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>
<br />
<div>
    @if (logs == null)
    {
        <p><em>@loading</em></p>
    }
    else
    {
        <table class="table">
            <tbody>
                <tr>
                    <th>log_id</th>
                    <th>application</th>
                    <th>logged</th>
                    <th>level</th>
                    <th>message</th>
                    <th>logger</th>
                    <th>callsite</th>
                    <th>exception</th>
                </tr>
            </tbody>
            <tbody>
                @foreach (var log in logs)
                {
                    <tr>
                        <td>@log.log_id</td>
                        <td>@log.application</td>
                        <td>@log.logged</td>
                        <td>@log.level</td>
                        <td>@log.message</td>
                        <td>@log.logger</td>
                        <td>@log.callsite</td>
                        <td>@log.exception</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    List<Log> logs;

    int index = 1;
    string uri;
    string loading = "";

    async Task ViewOne()
    {
        loading = "Loading...";

        if (index > 0)
        {
            uri = "https://theheartofthecardz.azurewebsites.net/api/Logs/" + index;
            var response = await api.GetUriAsync(new Uri(uri));

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadAsStringAsync();
                Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.ToString());
                Log log = json.ToObject<Log>();
                logs = new List<Log> { log };
            }
        }
        else
        {
            loading = "Database IDs start at '1'.";
        }
    }

    async Task ViewAll()
    {
        loading = "Loading...";

        var response = await api.GetUriAsync(new Uri("https://theheartofthecardz.azurewebsites.net/api/Logs"));

        if (response.IsSuccessStatusCode)
        {
            var result = response.Content.ReadAsStringAsync();
            Newtonsoft.Json.Linq.JArray json = Newtonsoft.Json.Linq.JArray.Parse(result.Result.ToString());
            logs = json.ToObject<List<Log>>();
        }
    }

    void onCancelButton()
    {
        uriHelper.NavigateTo("viewDb");
    }
}
