﻿@page "/viewDb/Account"
@attribute [Authorize(Roles = "ADMIN, NORMAL")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models

<h3>View Accounts</h3>
<p>Choose an account to view or view all accounts.</p>

<EditForm Model="@index" OnSubmit="@ViewOne">
    <div class="form-group">
        <label for="index">account_id: </label>
        <InputNumber id="index" @bind-Value="index" class="form-control">1</InputNumber>
    </div>
    <input type="submit" class="btn btn-primary" value="View Account" />
    <input type="button" class="btn btn-primary" value="View All" @onclick="ViewAll" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>
<br />
<div>
    @if (accounts == null)
    {
        <p><em>@loading</em></p>
    }
    else
    {
        <table class="table">
            <tbody>
                <tr>
                    <th>account_id</th>
                    <th>username</th>
                    <th>bikeshop_id</th>
                </tr>
            </tbody>
            <tbody>
                @foreach (var account in accounts)
                {
                    <tr>
                        <td>@account.account_id</td>
                        <td>@account.username</td>
                        <td>@account.bikeshop_id</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    List<Account> accounts;

    int index = 1;
    string uri;
    string loading = "";

    async Task ViewOne()
    {
        loading = "Loading...";

        if (index > 0)
        {
            uri = "https://theheartofthecardz.azurewebsites.net/api/Accounts/" + index;
            var response = await api.GetUriAsync(new Uri(uri));

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadAsStringAsync();
                Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.ToString());
                Account account = json.ToObject<Account>();
                accounts = new List<Account> { account };
            }
        }
        else
        {
            loading = "Database IDs start at '1'.";
        }
    }

    async Task ViewAll()
    {
        loading = "Loading...";

        var response = await api.GetUriAsync(new Uri("https://theheartofthecardz.azurewebsites.net/api/Accounts"));

        if (response.IsSuccessStatusCode)
        {
            var result = response.Content.ReadAsStringAsync();
            Newtonsoft.Json.Linq.JArray json = Newtonsoft.Json.Linq.JArray.Parse(result.Result.ToString());
            accounts = json.ToObject<List<Account>>();
        }
    }

    void onCancelButton()
    {
        uriHelper.NavigateTo("viewDb");
    }
}

