﻿@page "/viewDb/DowntimeReports"
@attribute [Authorize(Roles = "ADMIN, NORMAL")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models

<h3>View Downtime Reports</h3>
<p>Choose a downtime report to view or view all downtime reports.</p>

<EditForm Model="@index" OnSubmit="@ViewOne">
    <div class="form-group">
        <label for="index">downtimeReport_id: </label>
        <InputNumber id="index" @bind-Value="index" class="form-control">1</InputNumber>
    </div>
    <input type="submit" class="btn btn-primary" value="View Downtime" />
    <input type="button" class="btn btn-primary" value="View All" @onclick="ViewAll" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>
<br />
<div>
    @if (dtReports == null)
    {
        <p><em>@loading</em></p>
    }
    else
    {
        <table class="table">
            <tbody>
                <tr>
                    <th>downtimeReport_id</th>
                    <th>lengthOfDowntime</th>
                    <th>traffic_id</th>
                </tr>
            </tbody>
            <tbody>
                @foreach (var dt in dtReports)
                {
                    <tr>
                        <td>@dt.dowtimeReport_id</td>
                        <td>@dt.lengthOfDowntime</td>
                        <td>@dt.traffic_id</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    List<DowntimeReport> dtReports;

    int index = 1;
    string uri;
    string loading = "";

    async Task ViewOne()
    {
        loading = "Loading...";

        if (index > 0)
        {
            uri = "https://theheartofthecardz.azurewebsites.net/api/DowntimeReports/" + index;
            var response = await api.GetUriAsync(new Uri(uri));

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadAsStringAsync();
                Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.ToString());
                DowntimeReport dtReport = json.ToObject<DowntimeReport>();
                dtReports = new List<DowntimeReport> { dtReport };
            }
        }
        else
        {
            loading = "Database IDs start at '1'.";
        }
    }

    async Task ViewAll()
    {
        loading = "Loading...";

        var response = await api.GetUriAsync(new Uri("https://theheartofthecardz.azurewebsites.net/api/DowntimeReports"));

        if (response.IsSuccessStatusCode)
        {
            var result = response.Content.ReadAsStringAsync();
            Newtonsoft.Json.Linq.JArray json = Newtonsoft.Json.Linq.JArray.Parse(result.Result.ToString());
            dtReports = json.ToObject<List<DowntimeReport>>();
        }
    }

    void onCancelButton()
    {
        uriHelper.NavigateTo("viewDb");
    }
}
