﻿@page "/viewDb/Transaction"
@attribute [Authorize(Roles = "ADMIN, NORMAL")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models

<h3>View Transactions</h3>
<p>Choose a transaction to view or view all transactions.</p>

<EditForm Model="@index" OnSubmit="@ViewOne">
    <div class="form-group">
        <label for="index">transaction_id: </label>
        <InputNumber id="index" @bind-Value="index" class="form-control">1</InputNumber>
    </div>
    <input type="submit" class="btn btn-primary" value="View Transaction" />
    <input type="button" class="btn btn-primary" value="View All" @onclick="ViewAll" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>
<br />
<div>
    @if (transactions == null)
    {
        <p><em>@loading</em></p>
    }
    else
    {
        <table class="table">
            <tbody>
                <tr>
                    <th>transaction_id</th>
                    <th>total_cost</th>
                    <th>date</th>
                    <th>account_id</th>
                    <th>bikeshop_id</th>
                </tr>
            </tbody>
            <tbody>
                @foreach (var trans in transactions)
                {
                    <tr>
                        <td>@trans.transaction_id</td>
                        <td>@trans.total_cost</td>
                        <td>@trans.date</td>
                        <td>@trans.account_id</td>
                        <td>@trans.bikeshop_id</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    List<Transaction> transactions;

    int index = 1;
    string uri;
    string loading = "";

    async Task ViewOne()
    {
        loading = "Loading...";

        if (index > 0)
        {
            uri = "https://theheartofthecardz.azurewebsites.net/api/Transactions/" + index;
            var response = await api.GetUriAsync(new Uri(uri));

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadAsStringAsync();
                Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.ToString());
                Transaction transaction = json.ToObject<Transaction>();
                transactions = new List<Transaction> { transaction };
            }
        }
        else
        {
            loading = "Database IDs start at '1'.";
        }
    }

    async Task ViewAll()
    {
        loading = "Loading...";

        var response = await api.GetUriAsync(new Uri("https://theheartofthecardz.azurewebsites.net/api/Transactions"));

        if (response.IsSuccessStatusCode)
        {
            var result = response.Content.ReadAsStringAsync();
            Newtonsoft.Json.Linq.JArray json = Newtonsoft.Json.Linq.JArray.Parse(result.Result.ToString());
            transactions = json.ToObject<List<Transaction>>();
        }
    }

    void onCancelButton()
    {
        uriHelper.NavigateTo("viewDb");
    }
}
