﻿@page "/addToDb/newBikeShop"
@attribute [Authorize(Roles = "ADMIN")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models
@using Newtonsoft.Json
@using System.Text

<h3>Add a New Bike Shop</h3>

@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult
    </h2>
    <table class="table">
        <tbody>
            <tr>
                <th>bikeshop_id</th>
                <th>total_accounts</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>@_bikeshop.bikeshop_id</td>
                <td>@_bikeshop.total_accounts</td>
            </tr>
        </tbody>
    </table>
}

<EditForm Model="@_bikeshop" OnSubmit="@FormSubmitted">
    <div class="form-group">
        <label for="totalAccounts">Total Accounts: </label>
        <InputNumber id="totalAccounts" @bind-Value="_bikeshop.total_accounts" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>

@code {
    BikeShop _bikeshop = new BikeShop();

    string LastSubmitResult;

    async Task FormSubmitted(EditContext editContext)
    {
        bool isFormValid = editContext.Validate();
        if (isFormValid)
        {

            //create Json object
            string jsonString = JsonConvert.SerializeObject(_bikeshop,
                Formatting.None,
                new JsonSerializerSettings()
                {
                    ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                });


            //create content to send to api
            HttpContent postContent = new StringContent(jsonString, Encoding.UTF8, "application/json");

            var response = await api.PostUriAsync(new Uri("https://theheartofthecardz.azurewebsites.net/api/BikeShops"), postContent);
            var result = response.Content.ReadAsStringAsync();
            Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.Result.ToString());
            _bikeshop = json.ToObject<BikeShop>();

            LastSubmitResult = response.StatusCode.ToString();
        }
        else
            LastSubmitResult = "Failure: Form was invalid";

        return;
    }


    void onCancelButton()
    {
        uriHelper.NavigateTo("addToDb");
    }
}
