﻿@page "/addToDb/newItem"
@attribute [Authorize(Roles = "ADMIN")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models
@using Newtonsoft.Json
@using System.Text

<h3>Add A New Item</h3>

@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult
    </h2>
    <table class="table">
        <tbody>
            <tr>
                <th>item_id</th>
                <th>cost</th>
                <th>transaction_id</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>@_item.item_id</td>
                <td>@_item.cost</td>
                <td>@_item.transaction_id</td>
            </tr>
        </tbody>
    </table>
}

<EditForm Model="@_item" OnSubmit="@FormSubmitted">
    <div class="form-group">
        <label for="cost">Cost: </label>
        <InputNumber id="cost" @bind-Value="_item.cost" class="form-control" />
    </div>
    <div class="form-group">
        <label for="transaction">Associated Transaction Id: </label>
        <InputNumber id="transaction" @bind-Value="_item.transaction_id" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>

@code {
    Item _item = new Item();

    string LastSubmitResult;

    async Task FormSubmitted(EditContext editContext)
    {
        bool isFormValid = editContext.Validate();
        if (isFormValid)
        {
            //create Json object
            string jsonString = JsonConvert.SerializeObject(_item,
                Formatting.None,
                new JsonSerializerSettings()
                {
                    ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                });

            //create the api's uri
            Uri u = new Uri("https://theheartofthecardz.azurewebsites.net/api/Items");

            //create content to send to api
            HttpContent postContent = new StringContent(jsonString, Encoding.UTF8, "application/json");

            var response = await api.PostUriAsync(u, postContent);
            var result = response.Content.ReadAsStringAsync();
            Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.Result.ToString());
            _item = json.ToObject<Item>();

            LastSubmitResult = response.StatusCode.ToString();
        }
        else
            LastSubmitResult = "Failure: Form was invalid";

        return;
    }


    void onCancelButton()
    {
        uriHelper.NavigateTo("addToDb");
    }
}
