﻿@page "/addToDb/newLog"
@attribute [Authorize(Roles = "ADMIN")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models
@using Newtonsoft.Json
@using System.Text

<h3>Add A New Log</h3>

@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult
    </h2>
    <table class="table">
        <tbody>
            <tr>
                <th>log_id</th>
                <th>application</th>
                <th>logged</th>
                <th>level</th>
                <th>message</th>
                <th>logger</th>
                <th>callsite</th>
                <th>exception</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>@_log.log_id</td>
                <td>@_log.application</td>
                <td>@_log.logged</td>
                <td>@_log.level</td>
                <td>@_log.message</td>
                <td>@_log.logger</td>
                <td>@_log.callsite</td>
                <td>@_log.exception</td>
            </tr>
        </tbody>
    </table>
}

<EditForm Model="@_log" OnSubmit="@FormSubmitted">
    <div class="form-group">
        <label for="application">Application: </label>
        <InputText id="application" @bind-Value="_log.application" class="form-control" />
    </div>
    <div class="form-group">
        <label for="logged">Logged: </label>
        <InputDate id="logged" @bind-Value="_log.logged" class="form-control" />
    </div>
    <div class="form-group">
        <label for="level">Level: </label>
        <InputText id="level" @bind-Value="_log.level" class="form-control" />
    </div>
    <div class="form-group">
        <label for="message">Message: </label>
        <InputTextArea id="message" @bind-Value="_log.message" class="form-control"></InputTextArea>
    </div>
    <div class="form-group">
        <label for="logger">Logger: </label>
        <InputText id="logger" @bind-Value="_log.logger" class="form-control" />
    </div>
    <div class="form-group">
        <label for="callsite">Callsite: </label>
        <InputText id="callsite" @bind-Value="_log.callsite" class="form-control" />
    </div>
    <div class="form-group">
        <label for="exception">Exception: </label>
        <InputTextArea id="exception" @bind-Value="_log.exception" class="form-control"></InputTextArea>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>

@code {
    Log _log = new Log();

    string LastSubmitResult;

    async Task FormSubmitted(EditContext editContext)
    {
        bool isFormValid = editContext.Validate();
        if (isFormValid)
        {
            //create Json object
            string jsonString = JsonConvert.SerializeObject(_log,
                Formatting.None,
                new JsonSerializerSettings()
                {
                    ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                });

            //create the api's uri
            Uri u = new Uri("https://theheartofthecardz.azurewebsites.net/api/Logs");

            //create content to send to api
            HttpContent postContent = new StringContent(jsonString, Encoding.UTF8, "application/json");

            var response = await api.PostUriAsync(u, postContent);
            var result = response.Content.ReadAsStringAsync();
            Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.Result.ToString());
            _log = json.ToObject<Log>();

            LastSubmitResult = response.StatusCode.ToString();
        }
        else
            LastSubmitResult = "Failure: Form was invalid";

        return;
    }


    void onCancelButton()
    {
        uriHelper.NavigateTo("addToDb");
    }
}
