﻿@page "/addToDb/newTraffic"
@attribute [Authorize(Roles = "ADMIN")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models
@using Newtonsoft.Json
@using System.Text

<h3>Add A New Traffic Report</h3>

@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult
    </h2>
    <table class="table">
        <tbody>
            <tr>
                <th>traffic_id</th>
                <th>date</th>
                <th>time</th>
                <th>bikeshop_id</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>@_traffic.traffic_id</td>
                <td>@_traffic.date</td>
                <td>@_traffic.time</td>
                <td>@_traffic.bikeshop_id</td>
            </tr>
        </tbody>
    </table>
}

<EditForm Model="@_traffic" OnSubmit="@FormSubmitted">
    <div class="form-group">
        <label for="date">Date: </label>
        <InputDate id="date" @bind-Value="_traffic.date" class="form-control" />
    </div>
    <div class="form-group">
        <label for="time">Time: </label>
        <InputText id="time" @bind-Value="_traffic.time" class="form-control" />
    </div>
    <div class="form-group">
        <label for="bikeshop">Associated Bike Shop Id: </label>
        <InputNumber id="bikeshop" @bind-Value="_traffic.bikeshop_id" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>

@code {
    Traffic _traffic = new Traffic();

    string LastSubmitResult;

    async Task FormSubmitted(EditContext editContext)
    {
        bool isFormValid = editContext.Validate();
        if (isFormValid)
        {
            //create Json object
            string jsonString = JsonConvert.SerializeObject(_traffic,
                Formatting.None,
                new JsonSerializerSettings()
                {
                    ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                });

            //create the api's uri
            Uri u = new Uri("https://theheartofthecardz.azurewebsites.net/api/Traffic");

            //create content to send to api
            HttpContent postContent = new StringContent(jsonString, Encoding.UTF8, "application/json");

            var response = await api.PostUriAsync(u, postContent);
            var result = response.Content.ReadAsStringAsync();
            Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.Result.ToString());
            _traffic = json.ToObject<Traffic>();

            LastSubmitResult = response.StatusCode.ToString();
        }
        else
            LastSubmitResult = "Failure: Form was invalid";

        return;
    }


    void onCancelButton()
    {
        uriHelper.NavigateTo("addToDb");
    }
}
