﻿@page "/addToDb/newTransaction"
@attribute [Authorize(Roles = "ADMIN")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models
@using Newtonsoft.Json
@using System.Text

<h3>Add a New Transaction</h3>

@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult
    </h2>
    <table class="table">
        <tbody>
            <tr>
                <th>transaction_id</th>
                <th>total_cost</th>
                <th>date</th>
                <th>account_id</th>
                <th>bikeshop_id</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>@_transaction.transaction_id</td>
                <td>@_transaction.total_cost</td>
                <td>@_transaction.date</td>
                <td>@_transaction.account_id</td>
                <td>@_transaction.bikeshop_id</td>
            </tr>
        </tbody>
    </table>
}

<EditForm Model="@_transaction" OnSubmit="@FormSubmitted">
    <div class="form-group">
        <label for="totalCost">Total Cost: </label>
        <InputNumber id="totalCost" @bind-Value="_transaction.total_cost" class="form-control" />
    </div>
    <div class="form-group">
        <label for="date">Date: </label>
        <InputDate id="date" @bind-Value="_transaction.date" class="form-control" />
    </div>
    <div class="form-group">
        <label for="account">Associated Account Id: </label>
        <InputNumber id="account" @bind-Value="_transaction.account_id" class="form-control" />
    </div>
    <div class="form-group">
        <label for="bikeshop">Associated BikeShop Id: </label>
        <InputNumber id="bikeshop" @bind-Value="_transaction.bikeshop_id" class="form-control"></InputNumber>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>

@code {
    Transaction _transaction = new Transaction();

    string LastSubmitResult;

    async Task FormSubmitted(EditContext editContext)
    {
        bool isFormValid = editContext.Validate();
        if (isFormValid)
        {
            //create Json object
            string jsonString = JsonConvert.SerializeObject(_transaction,
                Formatting.None,
                new JsonSerializerSettings()
                {
                    ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                });

            //create the api's uri
            Uri u = new Uri("https://theheartofthecardz.azurewebsites.net/api/Transactions");

            //create content to send to api
            HttpContent postContent = new StringContent(jsonString, Encoding.UTF8, "application/json");

            var response = await api.PostUriAsync(u, postContent);
            var result = response.Content.ReadAsStringAsync();
            Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.Result.ToString());
            _transaction = json.ToObject<Transaction>();

            LastSubmitResult = response.StatusCode.ToString();
        }
        else
            LastSubmitResult = "Failure: Form was invalid";

        return;
    }


    void onCancelButton()
    {
        uriHelper.NavigateTo("addToDb");
    }
}
