﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Bike Shop Monitoring</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles="ADMIN, NORMAL">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="viewDb">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> View Data
                </NavLink>
            </li>
        </AuthorizeView>
       <AuthorizeView Roles="ADMIN">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="updateDb">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Update Data
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="ADMIN">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="addToDb">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Add Data
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="ADMIN">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="deleteFromDb">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Delete Data
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
