﻿@page "/updateDB/activeUser"
@attribute [Authorize(Roles = "ADMIN")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models
@using Newtonsoft.Json;
@using System.Text;

<h3>Update an Active User</h3>

@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult
    </h2>
    <table class="table">
        <tbody>
            <tr>
                <th>activeUser_id</th>
                <th>responseTime</th>
                <th>country</th>
                <th>stateOrProvince</th>
                <th>traffic_Id</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>@_activeUser.activeUser_id</td>
                <td>@_activeUser.responseTime</td>
                <td>@_activeUser.country</td>
                <td>@_activeUser.stateOrProvince</td>
                <td>@_activeUser.traffic_id</td>
            </tr>
        </tbody>
    </table>
}

<EditForm Model="@_activeUser" OnSubmit="@FormSubmitted">
    <div class="form-group">
        <label for="id">Active User Id: </label>
        <InputNumber id="id" @bind-Value="_activeUser.activeUser_id" class="form-control" />
    </div>
    <div class="form-group">
        <label for="response">Response Time: </label>
        <InputText id="response" @bind-Value="_activeUser.responseTime" class="form-control" />
    </div>
    <div class="form-group">
        <label for="country">Country: </label>
        <InputText id="country" @bind-Value="_activeUser.country" class="form-control" />
    </div>
    <div class="form-group">
        <label for="state">State/Province: </label>
        <InputText id="state" @bind-Value="_activeUser.stateOrProvince" class="form-control" />
    </div>
    <div class="form-group">
        <label for="traffic">Associate Traffic Id: </label>
        <InputNumber id="traffic" @bind-Value="_activeUser.traffic_id" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>

@code {
    int index = 1;
    string strUri;
    ActiveUser _activeUser = new ActiveUser();

    string LastSubmitResult;

    async Task FormSubmitted(EditContext editContext)
    {
        bool isFormValid = editContext.Validate();
        if (isFormValid)
        {
            index = _activeUser.activeUser_id;
            if (index > 0)
            {
                //create Json object
                string jsonString = JsonConvert.SerializeObject(_activeUser,
                    Formatting.None,
                    new JsonSerializerSettings()
                    {
                        ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                    });


                //create content to send to api
                HttpContent postContent = new StringContent(jsonString, Encoding.UTF8, "application/json");
                strUri = "https://theheartofthecardz.azurewebsites.net/api/ActiveUsers/" + index;

                var response = await api.PutUriAsync(new Uri(strUri), postContent);
                var result = response.Content.ReadAsStringAsync();
                Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.Result.ToString());
                _activeUser = json.ToObject<ActiveUser>();

                LastSubmitResult = response.StatusCode.ToString();
            }
            else
                LastSubmitResult = "Failure: Form was invalid";

            return;
        }
    }


    void onCancelButton()
    {
        uriHelper.NavigateTo("updateDb");
    }
}
