﻿@page "/updateDB/account"
@attribute [Authorize(Roles = "ADMIN")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models
@using Newtonsoft.Json;
@using System.Text;

<h3>Update an Account</h3>

@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult
    </h2>
    <table class="table">
        <tbody>
            <tr>
                <th>account_id</th>
                <th>username</th>
                <th>bikeshop_id</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>@_account.account_id</td>
                <td>@_account.username</td>
                <td>@_account.bikeshop_id</td>
            </tr>
        </tbody>
    </table>
}

<EditForm Model="@_account" OnSubmit="@FormSubmitted">
    <div class="form-group">
        <label for="id">Account Id: </label>
        <InputNumber id="id" @bind-Value="_account.account_id" class="form-control" />
    </div>
    <div class="form-group">
        <label for="username">Username: </label>
        <InputText id="username" @bind-Value="_account.username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="bikeshop">Associated BikeShop Id: </label>
        <InputNumber id="bikeshop" @bind-Value="_account.bikeshop_id" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>

@code {
    int index = 1;
    string strUri;
    Account _account = new Account();

    string LastSubmitResult;

    async Task FormSubmitted(EditContext editContext)
    {
        bool isFormValid = editContext.Validate();
        if (isFormValid)
        {
            index = _account.account_id;
            if (index > 0)
            {
                //create Json object
                string jsonString = JsonConvert.SerializeObject(_account,
                    Formatting.None,
                    new JsonSerializerSettings()
                    {
                        ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                    });


                //create content to send to api
                HttpContent postContent = new StringContent(jsonString, Encoding.UTF8, "application/json");
                strUri = "https://theheartofthecardz.azurewebsites.net/api/Accounts/" + index;

                var response = await api.PutUriAsync(new Uri(strUri), postContent);
                var result = response.Content.ReadAsStringAsync();
                Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.Result.ToString());
                _account = json.ToObject<Account>();

                LastSubmitResult = response.StatusCode.ToString();
            }
            else
                LastSubmitResult = "Failure: Form was invalid";

            return; 
        }
    }


    void onCancelButton()
    {
        uriHelper.NavigateTo("updateDb");
    }
}
