﻿@page "/update/downtimeReport"
@attribute [Authorize(Roles = "ADMIN")]
@inject Services.ApiService api
@inject NavigationManager uriHelper
@using MonitoringFrontEnd.Models
@using Newtonsoft.Json;
@using System.Text;

<h3>Update a Downtime Report</h3>

@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult
    </h2>
    <table class="table">
        <tbody>
            <tr>
                <th>downtimeReport_id</th>
                <th>lengthOfDowntime</th>
                <th>traffic_id</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>@_dtReport.dowtimeReport_id</td>
                <td>@_dtReport.lengthOfDowntime</td>
                <td>@_dtReport.traffic_id</td>
            </tr>
        </tbody>
    </table>
}

<EditForm Model="@_dtReport" OnSubmit="@FormSubmitted">
    <div class="form-group">
        <label for="id">Downtime Report Id: </label>
        <InputNumber id="id" @bind-Value="_dtReport.dowtimeReport_id" class="form-control" />
    </div>
    <div class="form-group">
        <label for="lOfD">Length of the Downtime: </label>
        <InputText id="lOfD" @bind-Value="_dtReport.lengthOfDowntime" class="form-control" />
    </div>
    <div class="form-group">
        <label for="traffic">Associated Traffic Id: </label>
        <InputNumber id="traffic" @bind-Value="_dtReport.traffic_id" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="onCancelButton" />
</EditForm>

@code {
    int index = 1;
    string strUri;
    DowntimeReport _dtReport = new DowntimeReport();

    string LastSubmitResult;

    async Task FormSubmitted(EditContext editContext)
    {
        bool isFormValid = editContext.Validate();
        if (isFormValid)
        {
            index = _dtReport.dowtimeReport_id;
            if (index > 0)
            {
                //create Json object
                string jsonString = JsonConvert.SerializeObject(_dtReport,
                    Formatting.None,
                    new JsonSerializerSettings()
                    {
                        ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                    });


                //create content to send to api
                HttpContent postContent = new StringContent(jsonString, Encoding.UTF8, "application/json");
                strUri = "https://theheartofthecardz.azurewebsites.net/api/DowntimeReports/" + index;

                var response = await api.PutUriAsync(new Uri(strUri), postContent);
                var result = response.Content.ReadAsStringAsync();
                Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(result.Result.ToString());
                _dtReport = json.ToObject<DowntimeReport>();

                LastSubmitResult = response.StatusCode.ToString();
            }
            else
                LastSubmitResult = "Failure: Form was invalid";

            return;
        }
    }


    void onCancelButton()
    {
        uriHelper.NavigateTo("updateDb");
    }
}